@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#payment .payment_methods li[class*="payment_method_pay_gateway"] *,
div p[class*="payment_method_pay_gateway"] * {
    font-family: 'Lato', sans-serif;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] label,
div p[class*="payment_method_pay_gateway"] label {
    display: block;
    width: 100%;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] img,
div p[class*="payment_method_pay_gateway"] img {
    float: right;
    margin: 3px 0 3px 0 !important;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    height: 35px;
    width: 35px;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] div,
div p[class*="payment_method_pay_gateway"] div {
    display: block;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] div:empty,
div p[class*="payment_method_pay_gateway"] div:empty {
    display: none !important;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] label::after,
div p[class*="payment_method_pay_gateway"] label::after {
    content: '';
    display: block;
    clear: both;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] .payment_box fieldset,
div p[class*="payment_method_pay_gateway"] .payment_box fieldset {
    border: 1px solid #c2c2c2;
    line-height: 1.42857143;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    background: transparent;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] .payment_box fieldset legend,
div p[class*="payment_method_pay_gateway"] .payment_box fieldset legend {
    padding: 0px 5px;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    position: relative;
    z-index: 2;
    height: 20px;
    background: transparent;
    float: none;
    width: auto;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] .payment_box input:not([type=checkbox]):not([type=radio]),
#payment .payment_methods li[class*="payment_method_pay_gateway"] .payment_box select,
div p[class*="payment_method_pay_gateway"] .payment_box input:not([type=checkbox]):not([type=radio]),
div p[class*="payment_method_pay_gateway"] .payment_box select {
    border: none !important;
    font-size: 16px;
    position: absolute;
    top: -10px;
    background: transparent;
    left: 0;
    border-radius: 10px;
    padding: 11px 10px 11px 15px !important;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.618;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    height: auto;
    background-color: transparent !important;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"] .payment_box select,
div p[class*="payment_method_pay_gateway"] .payment_box select {
    padding: 14px 10px 14px 15px;
    width: calc(100% - 10px);    
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box input:not([type=checkbox]):not([type=radio]):focus,
#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box select:focus,
div p[class*="payment_method_pay_gateway"]>.payment_box input:not([type=checkbox]):not([type=radio]):focus,
div p[class*="payment_method_pay_gateway"]>.payment_box select:focus {   
    outline: none;
    border: none;
    border-color: transparent;
    text-decoration: none;
    box-shadow: none;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select,
div p[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select {
    border: none;
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li,
div p[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li {
    margin-top: 0rem;
    margin-bottom: 0.95rem;
    cursor: pointer;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label,
div p[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label {
    height: auto;
    display: block;
    width: 100%;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label>input[type="radio"],
div p[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label>input[type="radio"] {
    margin: 2px 5px 0 0;
    vertical-align: middle;
    display: inline-block;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label>img,
div p[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label>img {
    float: none;
    display: inline-block;
    width: 50px;
    height: 35px;
    vertical-align: middle;
    max-width: 50px;
    max-height: 35px;
    margin: 0 !important;
    object-fit: unset;
}

#payment .payment_methods li[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label>span,
div p[class*="payment_method_pay_gateway"]>.payment_box .pay_radio_select>li>label>span {
    display: inline-block;
    vertical-align: middle;
}

#payment .payment_methods>.woocommerce-PaymentMethod>input[type="radio"], #payment .payment_methods>.wc_payment_method>input[type="radio"] {
    display:none !important;
}

#payment .payment_methods>.woocommerce-PaymentMethod>label::before, #payment .payment_methods>.wc_payment_method>label::before {
    display: inline-block;
    content: "";
    margin-right: 0.5407911001em;
    border: none;
    background-image: url("icons/radio_unchecked.svg");
    width: 20px;
    height: 20px;
    vertical-align: text-top;
    background-size: contain;
}

#payment .payment_methods li.woocommerce-PaymentMethod>input[type=radio]:first-child:checked+label::before, #payment .payment_methods li.wc_payment_method>input[type=radio]:first-child:checked+label::before {
    background-image: url("icons/radio_checked.svg");
}