.pay-quick-checkout-product {
    flex-basis: 100%;
    display: block;
}

.pay-quick-checkout {
    margin-top: 15px;
    cursor: pointer;
    display: block;
}

.pay-quick-checkout-product .pay-quick-checkout {
    display: inline-block;
}

.woocommerce .pay-quick-checkout a.button.alt,
.pay-quick-checkout a{
    background: #c90066;
    border-color: #c90066;
    background-image: url(../../assets/images/fastCheckoutIdeal.png);
    background-repeat: no-repeat;
    background-size: 51px;
    background-position: 23px center;
    min-width: 260px;    
    cursor: pointer;
}

.pay-quick-checkout-product a{
    padding: 0 45px 0px 80px;
    width: 260px;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    pointer-events: auto;
    line-height: 50px;
}
