.PPMFWC_method {
    width: 94%;
}

.PPMFWC_desc img {
    max-height: 50px;
    float: left;
}

.PPMFWC_desc span {
    min-height: 48px;
    display: inline-block;
    width: 80%;
    margin-left: 16px;
}

.PPMFWC_desc select {
    margin-left: 16px;
    width: 80%;
    padding: 3px 8px;
    background-color: transparent;
    border: 1px solid #CCC;
    margin-top: 16px;
}